@model User

<div class="row">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name: @Model.Name</h5>
                    <p class="card-text">Login: @Model.Login</p>
                    <p class="card-text">Password: @Model.Password</p>
                    <p class="card-text">Telephone: @Model.Telephone</p>
                    <p class="card-text">Email: @Model.Email</p>
                    <p class="card-text"><small class="text-muted">@Model.ToString()</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
